<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ushowmedia.mipha">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.ushowmedia.mipha.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.ushowmedia.mipha.permission.C2D_MESSAGE"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/name_solo" android:name="com.ushowmedia.mipha.Mipha" android:resizeableActivity="true" android:roundIcon="@drawable/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme.Compat.NoActionBar">
        <activity android:name="com.ushowmedia.mipha.boot.BootActivity" android:theme="@style/BootPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="mipha"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="solomusic"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="growing.a9f44d6141387cf8"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ushowmedia.mipha.index.IndexActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.ushowmedia.mipha.index.mine.MinePlaylistActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTop" android:name="com.ushowmedia.mipha.player.PlayDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ushowmedia.mipha.poster.LyricSelectActivity"/>
        <activity android:name="com.ushowmedia.mipha.poster.LyricShareStyleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ushowmedia.mipha.playlist.EditPlaylistActivity"/>
        <activity android:name="com.ushowmedia.mipha.playlist.SelectTagActivity"/>
        <activity android:name="com.ushowmedia.mipha.login.LoginActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity android:name="com.ushowmedia.mipha.login.EmailLoginActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ushowmedia.mipha.login.EmailRegisterActivity"/>
        <activity android:name="com.ushowmedia.mipha.login.AuthShadowActivity" android:theme="@style/TransparentTheme"/>
        <activity android:name="com.ushowmedia.mipha.nux.NuxLanguageActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/FacebookTranslucentToolbar"/>
        <activity android:exported="true" android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/ak_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/com_accountkit_button_log_in" android:launchMode="singleTop" android:name="com.facebook.accountkit.ui.AccountKitActivity" android:theme="@style/Theme.AccountKit.Mipha" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/ak_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ushowmedia.mipha.setting.SettingActivity"/>
        <activity android:name="com.ushowmedia.mipha.setting.about.AboutActivity"/>
        <activity android:name="com.ushowmedia.mipha.setting.aboutus.AboutUsActivity"/>
        <activity android:name="com.ushowmedia.mipha.setting.stuff.StuffActivity"/>
        <activity android:name="com.ushowmedia.mipha.user.share.CoverCardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ushowmedia.mipha.setting.develop.DevelopActivity"/>
        <activity android:name="com.ushowmedia.mipha.profile.ProfileEditActivity"/>
        <activity android:name="com.ushowmedia.mipha.profile.ProfileActivity"/>
        <activity android:name="com.ushowmedia.mipha.setting.language.LanguageActivity"/>
        <activity android:name="com.ushowmedia.mipha.localmusic.LocalMusicActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.ushowmedia.mipha.song.SongListDetailActivity"/>
        <activity android:name="com.ushowmedia.mipha.song.CoverListActivity"/>
        <activity android:name="com.ushowmedia.mipha.song.CoverDetailActivity"/>
        <activity android:name="com.ushowmedia.mipha.index.feature.FeaturedActivity"/>
        <activity android:name="com.ushowmedia.mipha.index.feature.TrendingTodayActivity"/>
        <activity android:name="com.ushowmedia.mipha.charts.ChartSongActivity"/>
        <activity android:name="com.ushowmedia.mipha.charts.ChartsActivity"/>
        <activity android:name="com.ushowmedia.mipha.charts.ArtistChartActivity"/>
        <activity android:name="com.ushowmedia.mipha.player.history.RecentSongActivity"/>
        <activity android:name="com.ushowmedia.mipha.song.SelectMusicActivity"/>
        <activity android:name="com.ushowmedia.mipha.playlist.PlaylistManagerActivity"/>
        <activity android:name="com.ushowmedia.mipha.playlist.submit.SubmitPlaylistActivity"/>
        <activity android:launchMode="singleTask" android:name="com.ushowmedia.mipha.search.SearchActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.ushowmedia.mipha.artist.ArtistActivity"/>
        <activity android:name="com.ushowmedia.mipha.artist.ArtistSongsActivity"/>
        <activity android:name="com.ushowmedia.mipha.artist.HotArtistActivity"/>
        <activity android:name="com.ushowmedia.mipha.localmusic.musicgroup.MusicGroupActivity"/>
        <activity android:name="com.ushowmedia.mipha.download.DownloadPageActivity"/>
        <activity android:name="com.ushowmedia.mipha.download.PurchaseHistoryActivity"/>
        <activity android:name="com.ushowmedia.mipha.message.ui.MessagePageActivity"/>
        <activity android:name="com.ushowmedia.mipha.fav.FavActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.ushowmedia.mipha.setting.quality.StreamQualityActivity"/>
        <activity android:name="com.ushowmedia.mipha.setting.quality.DownloadQualityActivity"/>
        <activity android:name="com.ushowmedia.mipha.player.audioeffect.AudioEffectActivity"/>
        <activity android:name="com.ushowmedia.mipha.player.history.RecentActivity"/>
        <activity android:name="com.ushowmedia.mipha.playlist.AllTagListActivity"/>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name="com.ushowmedia.mipha.guide.IntroActivity" android:theme="@style/AppTheme.Compat.NoActionBar.FullScreen"/>
        <activity android:exported="false" android:name="com.ushowmedia.mipha.web.WebPage"/>
        <activity android:name="com.ushowmedia.mipha.setting.dev.PushTestActivity"/>
        <activity android:name="com.ushowmedia.mipha.setting.checkin.DailyCheckInActivity"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.common.liblocker.LockScreenActivity" android:screenOrientation="portrait" android:taskAffinity=".locker" android:theme="@style/AppTheme.NoActionBar.Translucent"/>
        <activity android:name="com.ushowmedia.mipha.setting.alarm.TimerActivity"/>
        <receiver android:name="com.ushowmedia.mipha.player.notification.PlayerReceiver">
            <intent-filter>
                <action android:name="com.ushowmedia.mipha.action.play.control"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.ushowmedia.mipha.player.MediaActionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.ushowmedia.mipha.update.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.ushowmedia.mipha.player.notification.PlayerService"/>
        <service android:enabled="true" android:exported="false" android:name="com.common.liblocker.service.LockScreenService"/>
        <service android:name="com.ushowmedia.mipha.message.MiphaFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.ushowmedia.mipha.message.MiphaFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.appsflyer.MultipleInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.ushowmedia.mipha.common.channel.InstallReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.ushowmedia.mipha.common.job.DeviceJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.ushowmedia.mipha.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <service android:exported="true" android:name="com.ushowmedia.mipha.ashes.AccountService" android:process=":ashes">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <service android:exported="true" android:name="com.ushowmedia.mipha.ashes.AccountSyncService" android:process=":ashes">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter"/>
        </service>
        <provider android:authorities="@string/account_auth_provider" android:exported="false" android:name="com.ushowmedia.mipha.ashes.AccountProvider" android:syncable="true"/>
        <service android:name="com.ushowmedia.mipha.ashes.AshesJobIntentService"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/statusbar_logo"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorAccent"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.accountkit.ClientToken" android:value="@string/accountkit_client_id"/>
        <meta-data android:name="com.facebook.accountkit.ApplicationName" android:value="@string/name_solo"/>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <service android:name="com.ushowmedia.mipha.hyrule.log.LogService" android:process=":log"/>
        <provider android:authorities="com.ushowmedia.mipha.AccountKitInitialization" android:exported="false" android:name="com.facebook.accountkit.internal.AccountKitInitProvider"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <service android:name="com.liulishuo.filedownloader.services.FileDownloadService$SharedMainProcessService"/>
        <service android:name="com.liulishuo.filedownloader.services.FileDownloadService$SeparateProcessService" android:process=":filedownloader"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.ushowmedia.mipha.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.firebase.jobdispatcher.GooglePlayReceiver" android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.ushowmedia.mipha.lifecycle-trojan" android:exported="false" android:multiprocess="true" android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleInstance" android:name="com.google.firebase.auth.internal.FederatedSignInActivity" android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.ushowmedia.mipha"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.ushowmedia.mipha.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:exported="false" android:name="com.twitter.sdk.android.tweetcomposer.ComposerActivity" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <service android:enabled="true" android:exported="false" android:name="com.twitter.sdk.android.tweetcomposer.TweetUploadService"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.twitter.sdk.android.core.identity.OAuthActivity"/>
    </application>
</manifest>
